
0ad
bloop
chromium
cmus
configstore
jgit
linphone
mc
nautilus
teamviewer
tvbrowser
VirtualBox
Unknown Organization
wireshark
Postman
Skype
Code/**/*
!Code/User
!Code/User/settings.json
JetBrains
spotify
smartgit
libreoffice
discord
skypeforlinux
nvim
ranger
pulse
QtProject.conf
Slack
Signal
vlc
polybar.old
polybar.theme
gthumb
GIMP
cmst
dconf
zoomus.conf